<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"

        tools:targetApi="31">
        <activity
            android:name=".screen.PdfToImage.PdfToImageScreen"
            android:exported="false"
            android:label="@string/title_activity_pdf_to_image_screen"
            android:theme="@style/Theme.Transformer" />
        <activity
            android:name=".screen.ImageToPDF.ImageToPdfScreen"
            android:exported="false"
            android:label="@string/title_activity_image_to_pdf_screen"
            android:theme="@style/Theme.Transformer" />

        <activity
            android:name=".screen.PdfToWord.PdfToWordScreen"
            android:exported="false"
            android:label="@string/title_activity_word_to_pdf_screen"
            android:theme="@style/Theme.Transformer" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".screen.WordToPdf.WordToPdfScreen"
            android:exported="false"
            android:label="@string/title_activity_word_to_pdf_screen"
            android:theme="@style/Theme.Transformer" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transformer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>


</manifest>